.App {
  font-family: sans-serif;
  text-align: center;
}

.boxWidth {
  width: 20%;
  height: 20%;
}
.button {
  display: block;
  justify-content: center;
  align-items: center;
}

.secondary-data {
  background: linear-gradient(69.9deg, rgb(63, 66, 92) 3.2%, #222831);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.material-symbols-outlined-cloudy-thunder-rain {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.weather-forecast {
  background-image: var(--bs-gradient);
  border-radius: 20%;
  text-align: center;
}
.weather-forecast:hover {
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateZ(0) scale(1.1) perspective(1000px);
  transform: translateZ(0) scale(1.1) perspective(1000px);
  float: top;
  background: #fff;
  color: #222831;
}
